<div class="h-screen w-full bg-[#e5e5e5] flex justify-center items-center">
    <div class="bg-white p-8 w-4/5 mx-auto flex flex-col items-center text-center rounded shadow-[0_0_10px_1px_rgba(0,0,0,0.2)] lg:w-1/2">
        <span class="text-9xl	text-green-500">404</span>
        <h2 class="text-2xl">Vaya, ¿cómo llegaste aquí?</h2>
        <h4 class="pb-12 my-2">Tal vez quisiste decir <span class="text-green-400">https://michell2022.github.io/guards/</span></h4>
        <span class="font-bold">PAGE NOT FOUND</span>
        <div class="my-3">
            <a routerLinkActive routerLink="/home">
            <button class="bg-green-500 text-white font-bold py-2 px-4 rounded duration-300 hover:bg-green-600">VOLVER</button>
            </a>
        </div>
    </div>
</div>