<div class="mt-12 pt-12">
    <div class="w-1/2 mx-auto rounded p-4 shadow-[0px_0px_15px_-2px_rgba(0,0,0,0.2)]">
        <div class="text-center pb-6">
            <span class="text-3xl">Registro de usuario</span>
        </div>

        <form [formGroup]="formLogin" (submit)="send()">

            <div>
                <label for="name" class="form-label">Nombre</label>
                <input type="text" id="name" name="name" formControlName="name" required minlength="10"
                    class="form-control form-control-sm"
                    [class.is-invalid]="name.invalid && (name.dirty || name.touched)">
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
                    <div *ngIf="name.errors?.['required']">
                        Este campo es obligatorio.
                    </div>
                    <div *ngIf="name.errors?.['minlength']">
                        Este campo debe tener al menos 10 caracteres.
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label for="apellidos" class="form-label">Apellidos</label>
                <input type="text" id="apellidos" name="apellidos" formControlName="apellidos" required minlength="10"
                    class="form-control form-control-sm"
                    [class.is-invalid]="apellidos.invalid && (apellidos.dirty || apellidos.touched)">
                <div *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)" class="invalid-feedback">
                    <div *ngIf="apellidos.errors?.['required']">
                        Este campo es obligatorio.
                    </div>
                    <div *ngIf="apellidos.errors?.['minlength']">
                        Este campo debe tener al menos 10 caracteres.
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label for="email" class="form-label">Dirección de correo electrónico </label>
                <input type="email" id="email" name="email" formControlName="email" placeholder="your-name@gmail.com"
                    required minlength="1" maxlength="250" class="form-control form-control-sm"
                    [class.is-invalid]="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
                    <div *ngIf="email.errors?.['required']">
                        Este campo es obligatorio.
                    </div>
                    <div *ngIf="email.errors?.['minlength']">
                        Este campo debe tener al menos 1 carácter.
                    </div>
                    <div *ngIf="email.errors?.['maxlength']">
                        Este campo debe tener como máximo 250 caracteres.
                    </div>
                    <div
                        *ngIf="!email.errors?.['required'] && !email.errors?.['minlength'] && !email.errors?.['maxlength'] && email.errors?.['emailValidator']">
                        Formato de correo inválido.
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" id="password" name="password" formControlName="password" required minlength="10"
                    class="form-control form-control-sm"
                    [class.is-invalid]="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                    <div *ngIf="password.errors?.['required']">
                        Este campo es obligatorio.
                    </div>
                    <div *ngIf="password.errors?.['minlength']">
                        Este campo debe tener al menos 10 caracteres.
                    </div>
                </div>
            </div>
            <br>
            <div>
                <button class="color-boton__validate" [disabled]="formLogin.invalid"
                    (click)="validate()">Registrarse</button>
            </div>
        </form>

    </div>
</div>